/* CIRCULOS DE COLOR */

.circuloNaranja1 {
    width: 80px;
    height: 80px;
    top: -6%;
    left: -7%;
}


.circuloNaranja2 {
    width: 100px;
    height: 100px;
    left: 50%;
    top: 12%;
}

.circuloNegro {
    width: 500px;
    height: 500px;
    top: -80%;
    left: 20%;
}

.circuloNaranja3 {
    width: 60px;
    height: 60px;
    top: 24%;
    left: 76.5%;
}

.circuloblanco {
    width: 30px;
    height: 30px;
    top: 27%;
    left: 80%;
}

/*  */

header {
    justify-content: center;
}

.nav-container {
    width: 280px;
    margin-left: 0;

}

.btn-container {
    display: flex;
    justify-content: center;
}

.contenedor_tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1000px;
    border-radius: 40px;
    padding: 30px;
}

.parrafo-tarjeta {
    font-size: 14px;
    line-height: 16px;
}

.tarjeta:hover {
    border-radius: 40px;
}

.titulo2_parrafo {
    font-size: 15px;
    line-height: 18px;
}

.aparecer {
    opacity: 1;
    transition: .3s ease all;
}

/*  */

.contenedor-clientes {
    margin-top: 50px;
}

.titulo2 {
    font-size: 30px;
    line-height: 35px;
}


/* clientes */

.clientes {
    height: 200px;
    overflow-x: scroll;
    flex-direction: column;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.cliente {
    scroll-snap-align: center;
}







/* footer */

.texto-footer {
    font-size: 12px;
}

li {
    margin: 30px 10px;
}

.texto-footer {
    width: 200px;
    text-align: center;
}